<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><%=user.firstName + " " + user.lastName%></h2>
            <div class="thumbnail">
                <img src="<%= user.avatar %>" alt="user profile image">
                <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
            </div>
            <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                <a class="btn btn-warning profile-button" href="/users/<%= user._id %>/edit"><i class="fas fa-edit"></i> Edit Profile</a>
                <a class="btn btn-danger profile-button" href="/users/<%= user._id %>/delete"><i class="fas fa-trash-alt"></i> Delete Profile</a>
            <% } %>
        </div>
        <div class="col-md-8">
            <br>
            <br>
            <h3><%= user.firstName + "'s" %> campgrounds:</h3>
            <div class="row text-center" style="display:flex; flex-wrap:wrap;">
                <% campgrounds.forEach(function(campground){ %>
                    <div class="col-md-6 col-sm-6">
                        <div class="thumbnail">
                            <img src="<%= campground.image %>">
                            <div class="caption">
                                <h4><%= campground.name %></h4>
                            </div>
                            <p>
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>